* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  width: 500px !important;
  border: 1px solid #95a5a6;
  min-height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 300px;
  border-radius: 3px;
  border: 1px solid #95a5a6;
  outline: 0;
  padding: 5px 10px;
}
form {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.todo {
  width: 20px;
  display: inline-block;
  height: 20px;
  border: 2px solid #7f8c8d;
  border-radius: 50%;
}
.done {
  background-color: #95a5a6;
}
ul {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 10px;
}
li {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}
li button {
  margin-left: 20px;
}
li p {
  padding-top: 15px;
  padding-left: 10px;
}
